<?xml version="1.0"?>

<model>
  <name>zm_robot</name>
  <version>3.0.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Zhe-Ming, Zhang</name>
    <email>qaz9517532846@gmail.com</email>
  </author>


  <maintainer email="qaz9517532846@gmail.com">Zhe-Ming, Zhang</maintainer>


  <description>
     zm_robot in Gazebo simulator
  </description>
</model>
