<launch>
  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- caculate zm_robot wheel vel in Rviz   -->
  <node name="zm_robot_wheel_vel" pkg="zm_robot_control" type="zm_robot_controller_wheel_vel"/>

  <!-- Show zm_robot odom in Rviz   -->
  <node name="zm_robot_odom" pkg="zm_robot_control" type="zm_robot_controller_odom"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zm_robot_description)/config/zm_robot.rviz"/>

</launch>
