<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="zm_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants for robot dimensions -->
  <xacro:property name="wheel_rotationx" value="-1.5708"/>
  <xacro:property name="agv_base_h" value="0.081572" /> <!-- agv_base height -->
  <xacro:property name="wheel_before_L" value="0.25" /> <!-- wheel before L -->
  <xacro:property name="wheel_after_L" value="-0.25" /> <!-- wheel_after_L -->
  <xacro:property name="wheel_left_W" value="0.3" /> <!-- wheel left W -->
  <xacro:property name="wheel_right_W" value="-0.3" /> <!-- wheel right W -->

  <!-- roller position -->
  <xacro:property name="roller_1_y" value="0"/>
  <xacro:property name="roller_2_y" value="0.041781"/>
  <xacro:property name="roller_3_y" value="0.064012"/>
  <xacro:property name="roller_4_y" value="0.056291"/>
  <xacro:property name="roller_5_y" value="0.022231"/>
  <xacro:property name="roller_6_y" value="-0.022231"/>
  <xacro:property name="roller_7_y" value="-0.056291"/>
  <xacro:property name="roller_8_y" value="-0.064012"/>
  <xacro:property name="roller_9_y" value="-0.041781"/>
  <xacro:property name="roller_1_x" value="0.065"/>
  <xacro:property name="roller_2_x" value="0.049792"/>
  <xacro:property name="roller_3_x" value="0.011287"/>
  <xacro:property name="roller_4_x" value="-0.0325"/>
  <xacro:property name="roller_5_x" value="-0.06108"/>
  <xacro:property name="roller_6_x" value="-0.06108"/>
  <xacro:property name="roller_7_x" value="-0.0325"/>
  <xacro:property name="roller_8_x" value="0.011287"/>
  <xacro:property name="roller_9_x" value="0.049792"/>

  <!-- rollor friction -->
  <xacro:property name="roller_friction" value="0.4"/>
  <xacro:property name="roller_dampling" value="0"/>

  <!-- wheel friction -->
  <xacro:property name="roller_friction_wheel" value="0.2"/>
  <xacro:property name="roller_dampling_wheel" value="1.5"/>

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find zm_robot_description)/urdf/zm_robot.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find zm_robot_description)/urdf/materials.xacro" />
  <!-- Import rollor actuator -->
  <!--xacro:include filename="$(find zm_robot_description)/urdf/rollor_1.gazebo" /-->
  <!--xacro:include filename="$(find zm_robot_description)/urdf/rollor_2.gazebo" /-->
  <!--xacro:include filename="$(find zm_robot_description)/urdf/rollor_3.gazebo" /-->
  <!--xacro:include filename="$(find zm_robot_description)/urdf/rollor_4.gazebo" /-->

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${agv_base_h}" rpy="0 0 0"/>
  </joint>

  <!-- Base Link -->
  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/agv_base.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/agv_base.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="orange"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="29.964"/>
      <inertia
	  ixx="0.892684320" ixy="0.0" ixz="0.0"
	  iyy="1.966612482" iyz="0.0"
	  izz="2.677227828"/>
    </inertial>
  </link>

  <!-- wheel 1 -->
  <joint name="wheel_joint1" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_1"/>
    <origin xyz="${wheel_after_L} ${wheel_left_W} 0" rpy="${wheel_rotationx} 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling_wheel}" friction="${roller_friction_wheel}"/>
  </joint>

  <link name="wheel_1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_left_after.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_left_after.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="white"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.7"/>
      <inertia
	  ixx="0.004248052" ixy="0.0" ixz="0.0"
	  iyy="0.004248045" iyz="0.0"
	  izz="0.004879970"/>
    </inertial>
  </link>

  <!-- roller_1_1 -->
  <joint name="roller_1_1_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_1"/>
    <origin xyz="${roller_1_y} ${roller_1_x} 0" rpy="0.7854 0 1.5708"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_2 -->
  <joint name="roller_1_2_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_2"/>
    <origin xyz="${roller_2_y} ${roller_2_x} 0" rpy="0.7854 0 0.8727"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_3 -->
  <joint name="roller_1_3_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_3"/>
    <origin xyz="${roller_3_y} ${roller_3_x} 0" rpy="0.7854 0 0.1746"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_4 -->
  <joint name="roller_1_4_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_4"/>
    <origin xyz="${roller_4_y} ${roller_4_x} 0" rpy="0.7854 0 -0.5235"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_4">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_5 -->
  <joint name="roller_1_5_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_5"/>
    <origin xyz="${roller_5_y} ${roller_5_x} 0" rpy="0.7854 0 -1.2216"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_5">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_6 -->
  <joint name="roller_1_6_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_6"/>
    <origin xyz="${roller_6_y} ${roller_6_x} 0" rpy="0.7854 0 4.3632"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_6">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_7 -->
  <joint name="roller_1_7_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_7"/>
    <origin xyz="${roller_7_y} ${roller_7_x} 0" rpy="0.7854 0 3.6651"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_7">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_8 -->
  <joint name="roller_1_8_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_8"/>
    <origin xyz="${roller_8_y} ${roller_8_x} 0" rpy="0.7854 0 2.967"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_8">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_1_9 -->
  <joint name="roller_1_9_joint" type="fixed">
    <parent link="wheel_1"/>
    <child link="roller_1_9"/>
    <origin xyz="${roller_9_y} ${roller_9_x} 0" rpy="0.7854 0 2.2689"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_1_9">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- wheel 2 -->
  <joint name="wheel_joint2" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_2"/>
    <origin xyz="${wheel_before_L} ${wheel_left_W} 0" rpy="${wheel_rotationx} 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling_wheel}" friction="${roller_friction_wheel}"/>
  </joint>

  <link name="wheel_2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_left_before.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_left_before.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="white"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.7"/>
      <inertia
	  ixx="0.004248052" ixy="0.0" ixz="0.0"
	  iyy="0.004248045" iyz="0.0"
	  izz="0.004879970"/>
    </inertial>
  </link>

  <!-- roller_2_1 -->
  <joint name="roller_2_1_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_1"/>
    <origin xyz="${roller_1_x} ${roller_1_y} 0" rpy="-0.7854 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_2 -->
  <joint name="roller_2_2_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_2"/>
    <origin xyz="${roller_2_x} ${roller_2_y} 0" rpy="-0.7854 0 0.6981"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_3 -->
  <joint name="roller_2_3_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_3"/>
    <origin xyz="${roller_3_x} ${roller_3_y} 0" rpy="-0.7854 0 1.3962"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_4 -->
  <joint name="roller_2_4_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_4"/>
    <origin xyz="${roller_4_x} ${roller_4_y} 0" rpy="-0.7854 0 2.0943"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_4">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_5 -->
  <joint name="roller_2_5_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_5"/>
    <origin xyz="${roller_5_x} ${roller_5_y} 0" rpy="-0.7854 0 2.7924"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_5">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_6 -->
  <joint name="roller_2_6_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_6"/>
    <origin xyz="${roller_6_x} ${roller_6_y} 0" rpy="-0.7854 0 -2.7924"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_6">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_7 -->
  <joint name="roller_2_7_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_7"/>
    <origin xyz="${roller_7_x} ${roller_7_y} 0" rpy="-0.7854 0 -2.0943"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_7">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_8 -->
  <joint name="roller_2_8_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_8"/>
    <origin xyz="${roller_8_x} ${roller_8_y} 0" rpy="-0.7854 0 -1.3962"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_8">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_2_9 -->
  <joint name="roller_2_9_joint" type="fixed">
    <parent link="wheel_2"/>
    <child link="roller_2_9"/>
    <origin xyz="${roller_9_x} ${roller_9_y} 0" rpy="-0.7854 0 -0.6981"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_2_9">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- wheel 3 -->
  <joint name="wheel_joint3" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_3"/>
    <origin xyz="${wheel_before_L} ${wheel_right_W} 0" rpy="${wheel_rotationx} 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling_wheel}" friction="${roller_friction_wheel}"/>
  </joint>

  <link name="wheel_3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_right_before.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_right_before.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="white"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.7"/>
      <inertia
	  ixx="0.004248052" ixy="0.0" ixz="0.0"
	  iyy="0.004248045" iyz="0.0"
	  izz="0.004879970"/>
    </inertial>
  </link>

  <!-- roller_3_1 -->
  <joint name="roller_3_1_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_1"/>
    <origin xyz="${roller_1_y} ${roller_1_x} 0" rpy="0.7854 0 1.5708"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_2 -->
  <joint name="roller_3_2_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_2"/>
    <origin xyz="${roller_2_y} ${roller_2_x} 0" rpy="0.7854 0 0.8727"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_3 -->
  <joint name="roller_3_3_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_3"/>
    <origin xyz="${roller_3_y} ${roller_3_x} 0" rpy="0.7854 0 0.1746"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_4 -->
  <joint name="roller_3_4_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_4"/>
    <origin xyz="${roller_4_y} ${roller_4_x} 0" rpy="0.7854 0 -0.5235"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_4">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_5 -->
  <joint name="roller_3_5_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_5"/>
    <origin xyz="${roller_5_y} ${roller_5_x} 0" rpy="0.7854 0 -1.2216"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_5">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_6 -->
  <joint name="roller_3_6_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_6"/>
    <origin xyz="${roller_6_y} ${roller_6_x} 0" rpy="0.7854 0 4.3632"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_6">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_7 -->
  <joint name="roller_3_7_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_7"/>
    <origin xyz="${roller_7_y} ${roller_7_x} 0" rpy="0.7854 0 3.6651"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_7">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_8 -->
  <joint name="roller_3_8_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_8"/>
    <origin xyz="${roller_8_y} ${roller_8_x} 0" rpy="0.7854 0 2.967"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_8">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_3_9 -->
  <joint name="roller_3_9_joint" type="fixed">
    <parent link="wheel_3"/>
    <child link="roller_3_9"/>
    <origin xyz="${roller_9_y} ${roller_9_x} 0" rpy="0.7854 0 2.2689"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_3_9">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- wheel 4 -->
  <joint name="wheel_joint4" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_4"/>
    <origin xyz="${wheel_after_L} ${wheel_right_W} 0" rpy="${wheel_rotationx} 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling_wheel}" friction="${roller_friction_wheel}"/>
  </joint>

  <link name="wheel_4">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_right_after.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_right_after.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="white"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.7"/>
      <inertia
	  ixx="0.004248052" ixy="0.0" ixz="0.0"
	  iyy="0.004248045" iyz="0.0"
	  izz="0.004879970"/>
    </inertial>
  </link>

  <!-- roller_4_1 -->
  <joint name="roller_4_1_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_1"/>
    <origin xyz="${roller_1_x} ${roller_1_y} 0" rpy="-0.7854 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_2 -->
  <joint name="roller_4_2_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_2"/>
    <origin xyz="${roller_2_x} ${roller_2_y} 0" rpy="-0.7854 0 0.6981"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_3 -->
  <joint name="roller_4_3_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_3"/>
    <origin xyz="${roller_3_x} ${roller_3_y} 0" rpy="-0.7854 0 1.3962"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_4 -->
  <joint name="roller_4_4_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_4"/>
    <origin xyz="${roller_4_x} ${roller_4_y} 0" rpy="-0.7854 0 2.0943"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_4">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_5 -->
  <joint name="roller_4_5_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_5"/>
    <origin xyz="${roller_5_x} ${roller_5_y} 0" rpy="-0.7854 0 2.7924"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_5">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_6 -->
  <joint name="roller_4_6_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_6"/>
    <origin xyz="${roller_6_x} ${roller_6_y} 0" rpy="-0.7854 0 -2.7924"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_6">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_7 -->
  <joint name="roller_4_7_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_7"/>
    <origin xyz="${roller_7_x} ${roller_7_y} 0" rpy="-0.7854 0 -2.0943"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_7">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_8 -->
  <joint name="roller_4_8_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_8"/>
    <origin xyz="${roller_8_x} ${roller_8_y} 0" rpy="-0.7854 0 -1.3962"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_8">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- roller_4_9 -->
  <joint name="roller_4_9_joint" type="fixed">
    <parent link="wheel_4"/>
    <child link="roller_4_9"/>
    <origin xyz="${roller_9_x} ${roller_9_y} 0" rpy="-0.7854 0 -0.6981"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${roller_dampling}" friction="${roller_friction}"/>
  </joint>

  <link name="roller_4_9">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/mecanum_roller.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.124"/>
      <inertia
	  ixx="0.000051893" ixy="0.0" ixz="0.0"
	  iyy="0.000051893" iyz="0.0"
	  izz="0.000013891"/>
    </inertial>
  </link>

  <!-- sick LiDAR 0 -->
  <joint name="sick_lidar0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="sick_lidar0"/>
    <origin xyz="0.33 0.175 0.195722" rpy="0 0 0.7854"/>
  </joint>

  <link name="sick_lidar0">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/sick_s30b.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/sick_s30b.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="green"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.2"/>
      <inertia
	  ixx="0.0001" ixy="0.0" ixz="0.0"
	  iyy="0.0001" iyz="0.0"
	  izz="0.0001"/>
    </inertial>
  </link>

  <!-- sick LiDAR 1 -->
  <joint name="sick_lidar1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="sick_lidar1"/>
    <origin xyz="-0.33 -0.175 0.195722" rpy="0 0 -2.35619"/>
  </joint>

  <link name="sick_lidar1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/sick_s30b.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/sick_s30b.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="green"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.2"/>
      <inertia
	  ixx="0.0001" ixy="0.0" ixz="0.0"
	  iyy="0.0001" iyz="0.0"
	  izz="0.0001"/>
    </inertial>
  </link>

  <!-- kinect V2 -->
  <joint name="kinect_v2_joint " type="fixed">
    <parent link="base_link"/>
    <child link="kinect_v2"/>
    <origin xyz="0.297 -0.05 0.122015" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="kinect_v2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/kinect_v2.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/kinect_v2.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia
	  ixx="0.00005" ixy="0.0" ixz="0.0"
	  iyy="0.00005" iyz="0.0"
	  izz="0.00005"/>
    </inertial>
  </link>

  <!-- IMU -->
  <joint name="IMU_joint " type="fixed">
    <parent link="base_link"/>
    <child link="IMU_sensor"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="IMU_sensor">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/IMU_sensor.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://zm_robot_description/meshes/IMU_sensor.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia
	  ixx="0.00005" ixy="0.0" ixz="0.0"
	  iyy="0.00005" iyz="0.0"
	  izz="0.00005"/>
    </inertial>
  </link>
</robot>
