<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="roller_trans_v0" params="prefix">
    <transmission name="${prefix}_roller_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_joint">
	    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
</robot>